/* Change the design for mobile */
@media screen and (max-width: 700px) {
  /*mob*/
  .container {
    padding: 20px;
    width: 0px;

  }
}
@media screen and (min-width: 700px) {
  /*PC*/
  .container {
    padding: 20px 120px;
    width: 400px;
  }
}
body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(background.png);
}
h1{
    position: fixed;
    top: 5%;
    font-size: 3.75rem;
    font-weight: normal;
    text-shadow: #57595c 2px 2px 4px;
    color: white;
}
.container {
    background-color: rgba(1, 5, 28, 0.35);
    color: white;
    padding: 20px 120px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    width: 400px;
    position: relative;
    text-align: center;
    backdrop-filter: blur(3px);
    isolation: isolate;
}
.form-group input {
    width: 100%;
    height: 45px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
}
button {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    height: 45px;
    font-weight: bold;
    margin-top: 10px;
}
button:hover {
    background-color: #222;
}
.divider {
    display: flex;
    align-items: center;
    color: white;
    margin: 20px 0;
}
.divider hr {
    flex-grow: 1;
    border: none;
    height: 1px;
    background: white;
}
.divider span {
    margin: 0 10px;
    font-size: 14px;
}
.googlebutton {
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    height: 25px;
    border-radius: 8px;
    font-weight: bold;
    padding: 12px;
    cursor: pointer;
    gap: 140px;
}
.googlebutton img {
    height: 20px;
}
.googlebutton:hover {
    background-color: #dadcde;
}
.toggle-form {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: blue;
}
#message {
    color: red;
}